  .navbar {
    background-color:#1F1F2A;
    width: 100%;
    height: 80px;
  }
  
  .about-title {
    padding-top: 20px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;

  }

  .about-para {
    padding-top: 20px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: 550;
  }

  .main-photo {
    filter: brightness(50%);
    width: 500px; 
    height: 400px;
    padding-top: 70px;
    margin-left: 20px;
  }

  .image-flex {
    display: flex;
    padding-bottom: 40px;
  }

  .container-about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F6F6F6;
  }

  .image-content{ 
    margin-left: 100px; 
    margin-top: 250px; 
    margin-right: 100px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .description {
    margin-left: 100px; 
    margin-right: 100px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    color: black
  }

  .openings {
    padding-top: 20px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
  }

  .box {
    width: 100%px;
    min-height: 350px;
    border: 2px solid lavender;
    padding: 10px;
    margin: 30px;
    border-radius: 15px;
    padding-bottom: 40px;
  }

  .job-title {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 100px;
    padding-top: 10px;
    color: #34347B;
  }

  .location {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600px;
    margin-left: 100px;
    color: #34347B;
  }

  .job-subheading {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 100px;
    padding-top: 10px;
  }

  .job-description {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550px;
    margin-left: 100px;
  }

  .footer {
    background-color:#1F1F2A;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-content {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550px;
    margin-left: 100px;
    color: white;
  }

  .footer-title {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    margin-left: 100px;
    color: white;
  }
